@import "./const.scss";

.pulseCol #displayNow {
    font-size: xx-large;
    width: 100%;
    margin: 10px 0px;
    text-align: left;
}

.pulseCol .row {
    margin:0px;
}

.pulseCol .tab-content {
    padding: 20px 10px;
    border-color: #dee2ed;
    border-radius: 0 0 .25rem .25rem;
    border: 1px solid #dee2ed;
    border-top: transparent;
    background:#fff;
}

.pulseCol .row input, .pulseCol .row div {
    margin: 0px 0px 5px 0px;
}

.pulseTop {
    max-height:40vh;
}

.extra-tab {
    padding: 7px 10px;
    border-color: #dee2ed;
    border-radius: 0 0 .25rem .25rem;
    border: 1px solid #dee2ed;
    margin-top:5px !important;
    background:#fff;
}
.extra-tab-label {
    padding-top:17px;
    color:grey;
}
.extra-tab-value {
    padding-top:10px;
    width: 50px;
    height: 30px;
}

#knob circle {
    fill: #69dcff;
}
#knob path {
    fill: #666;
}
#zoom svg path {
    fill: #69dcff;
}
.btn-secondary {
    color: #69dcff;
}

.setlistFmForm .col {
    padding:0px 5px 0px 0px !important;
}

.btn, #animation-time {
    width:$btn_w;
    height:$btn_h;
}

.controlBtns .btn, .controlBtns div {
    margin-right: $default_margin_r !important;
}

.esri-time-slider__previous, .esri-time-slider__animation, .esri-time-slider__next {
    display:none;
}