@mixin fillVertical {
    padding:0;
    margin:0;
    height:100vh;
}


* {
    box-sizing: border-box;
}

body {
    @include fillVertical();
    font-family: Roboto, sans-serif;
    overflow: hidden;
    font-size: 0.8rem;
}

#root, .app {
    @include fillVertical();
    width: 100vw;
}

.pulseCol {
    @include fillVertical();
    padding: 10px;
}

button,
input,
select {
    font-family: inherit;
    font-size: inherit;
}

.mapCol {
    @include fillVertical();
    border-right:1px #c4c4c4 solid;
}

.map {
    height:100%;
    width:100%;
}
